<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>wat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS, including Bootstrap -->
    <link href="static/css/rickshaw.css" rel="stylesheet" type="text/css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- TODO move this out of HEAD tag? -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- TODO add Google Analytics here -->

  </head>

  <body>

    <div id="intro">
      <h4> hi </h4>
    </div>

  </body>
</html>
{% endautoescape %}
