<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>wat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS, including Bootstrap -->
    <link href="static/css/lib/rickshaw.css" rel="stylesheet" type="text/css">
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- TODO move these js imports out of HEAD tag? -->
    <script src="static/js/index.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="static/js/lib/d3.js"></script>
    <script src="static/js/lib/rickshaw.js"></script>

    <!-- TODO add Google Analytics here -->
  </head>

  <body>
    <form id="submit-data">
      <div>
        <label for="json-data">Paste some json:</label>
        <input type="text" id="json-data" placeholder="sample">
      </div>
      <div class="button">
        <button type="submit">Go</button>
      </div>
    </form>

    <div id="chart">
      <!-- graph is rendered here -->
    </div>

    <script>
      // TODO move this to separate js file :/

      // Sample valid input: [{"x": 0, "y": 1}, {"x": 1, "y": 5}]
      $(function() {

        $("#submit-data").submit(function( event ){
          event.preventDefault();

          var string_data = $("#json-data").val();
          var graph_data = JSON.parse(string_data);

          // Modified rickshaw hello world example
          var graph = new Rickshaw.Graph( {
              element: document.querySelector("#chart"),
              width: 285,
              height: 180,
              series: [{
                  color: 'steelblue',
                  data: graph_data
              }]
          });
          graph.render();

        });

      })
    </script>

  </body>
</html>
{% endautoescape %}
